/* Reset basic styles */
html {
  scroll-behavior: smooth; /* Smooth scrolling */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Handjet", cursive;
}

/* Home Section */
.home {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden; /* Prevent overflow issues */
}

/* Video Container */
.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0; /* Ensure video is behind everything */
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/* Spaceship Overlay Image */
.spaceship-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2; /* Ensure it's on top of the video */
  object-fit: cover; /* Ensure the image covers the video area */
  pointer-events: none; /* Allow clicks to pass through if needed */
}

/* Dark overlay to slightly dim the background GIF */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  z-index: 3; /* Ensure it's above the video but below the overlay image */
}

/* Centered Text Container */
.centered-text {
  z-index: 3; /* Ensure it's above everything else */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Text Container */
.text-container {
  position: relative;
  display: inline-block;
}

/* Static Text */
.static-text {
  color: #39ff14;
  font-size: 4.2rem;
  text-transform: uppercase;
  animation: breathe 3s ease-in-out infinite;
}

/* Typing Wrapper */
.typing-wrapper {
  display: inline-block;
  margin-top: 0.5rem;
}

/* Typing Text */
.typing-text {
  font-size: 5rem;
  color: #39ff14;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid #39ff14;
  animation: typing 4s steps(30, end), blink-caret 0.75s step-end infinite,
  breathe 3s ease-in-out infinite;
}

/* About Me Section */
.about-me {
  min-height: 100vh; /* Ensure the section covers the full viewport */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 2rem;
  background-color: transparent;
}

.matrix-rain{
  position: relative; /* This is important to position the canvas correctly */
  overflow: hidden;   /* Ensures no overflow if canvas goes outside the section */
}

.matrix-rain canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Make sure the canvas stays behind other content */
}

.about-content {
  position: relative;
  display: flex;
  max-width: 1200px;
  width: 100%;
  align-items: center;
  gap: 2rem;
  flex-direction: row-reverse; /* Swap image and text positions */
  z-index: 1;
}

/* Media query for screens smaller than 768px (typical mobile screens) */
@media (max-width: 768px) {

  .static-text{
    font-size: 2rem;
  }

  .typing-text{
    font-size: 2.5rem;
  }

  .about-content {
    flex-direction: column; /* Stack video below text on smaller screens */
    text-align: center; /* Optional: Center-align text */
  }

  .about-video, .about-text {
    width: 100%; /* Ensure full width for both video and text */
  }

  .about-video video {
    width: 80%; /* Adjust video width for smaller screens */
    margin: 0 auto; /* Center video */
  }

  .btn-container{
    flex-direction: column;
  }

}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 5rem;
  color: #fff; /* White text for contrast */
  margin-bottom: 1rem;
}

.about-text p {
  font-size: 2rem;
  color: #aaaaaa; /* Light grey for paragraph text */
  margin-bottom: 2rem;
}

.btn-container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.btn {
  text-decoration: none;
  border: 1px solid rgba(0, 255, 0, 0.3);
  position: relative;
  overflow: hidden;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(0, 255, 0, 0.3);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(0, 255, 0, 0.3),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

.about-video {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-video video {
  border-radius: 15px;
  width: 70%;
}

/* animation effects */
/* Typing effect */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Blinking cursor */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #39ff14;
  }
}

@keyframes breathe {
  0% {
    text-shadow: 0 0 2px #39ff14, 0 0 4px rgba(0, 255, 0, 0.3), 
      0 0 6px rgba(0, 255, 0, 0.2);
  }
  50% {
    text-shadow: 0 0 3px #39ff14, 0 0 6px rgba(0, 255, 0, 0.4),
      0 0 8px rgba(0, 255, 0, 0.3);
  }
  100% {
    text-shadow: 0 0 2px #39ff14, 0 0 4px rgba(0, 255, 0, 0.3),
      0 0 6px rgba(0, 255, 0, 0.2);
  }
}

@keyframes spin {
  to {
    transform:rotateY(-360deg);
  }
}

@keyframes show {
to {
  opacity: 1;
}
}

@keyframes flicker-on-2 {
0% {
  opacity: 0;
}

10% {
  opacity: 0.5;
}

15% {
  opacity: 0;
}

30% {
  opacity: 0.5;
}

55% {
  opacity: 0.3;
}

57% {
  opacity: 0;
}

75% {
  opacity: 0;
}

76% {
  opacity: 0.5;
}

99% {
  opacity: 0;
}

100% {
  opacity: 0.3;
}

}

.my-projects{
  display: flex; /* Enable flexbox to position child elements */
  align-items: center; /* Vertically align content */
  justify-content: space-between; /* Distribute content evenly */
  background-color: #1c1c1c; /* Dark background for contrast */
  padding: 2rem; 
  overflow: hidden;
  min-height: 100vh;
}

.component-wrapper 
{
  position: absolute;
}

.planet-canvas
{
  position: absolute;
}

.background-planet { /* Ensure the section covers the full viewport */
  width: 100%;
  top: 10rem;
  left: 10rem;
  width: 35rem;
  height: 100vh;
  perspective: 100rem;
  animation: flicker-on-2 1000ms linear 1500ms forwards;
  opacity: 0;
  z-index: -10; /* Make sure the div stays behind other content */
}

.wrapper {
  width:100%;
  height:100%;
  transform: rotateX(-8deg) rotateY(0deg);
  transform-style: preserve-3d;
  padding-top: 15%;
}

.globe {
  position: relative;
  width: 70%;
  height: 70%;
  margin:0 auto;
  transform-style:  preserve-3d;
  animation: spin 25s 0ms linear infinite;
}
.ring {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: .3rem;
  border-style: dotted;
  border-radius: 50%;
  color:rgba(0, 255, 0, 0.3);
  animation: show 0.75s forwards ease-in-out;
  opacity: 0;
}

.ring:nth-child(1) {
  transform: rotateY(4deg);
}
.ring:nth-child(2) {
  transform: rotateY(30deg);
}
.ring:nth-child(3) {
  transform: rotateY(56deg);
}
.ring:nth-child(4) {
  transform: rotateY(82deg);
}
.ring:nth-child(5) {
  transform: rotateY(108deg);
}
.ring:nth-child(6) {
  transform: rotateY(134deg);
}
.ring:nth-child(7) {
  transform: rotateY(160deg);
}

.ring:nth-child(8) {
  transform: rotateY(4deg)  rotateX(75deg) scale(2);
  border-style: dashed;
  color:greenyellow;
}
.ring:nth-child(9) {
  transform: rotateY(4deg)  rotateX(75deg) scale(1.75);
  border-style: solid;
  color:lime;
}

.ring:nth-child(10) {
  transform: rotateY(4deg) rotateX(75deg) scale(1.5);
  border-style: dotted;
  color:greenyellow;
}

.project-content {
  position: relative; /* Make sure it's positioned relative to allow absolute positioning of the background */
  flex: 1; /* Allow it to take the available space */
  color: white; /* White text color for contrast */
  text-align: right; /* Text aligned to the right */
  background-color: transparent; /* No background color for now */
  z-index: 1; /* Ensure the content is above the background */
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  max-width: 1200px;
  width: 100%;
}

.project-content .btn-container {
  display: flex;
  justify-content: right;
  align-items: center;
}

.project-content .project-text {
  color: white;
}

.project-content h2 {
  font-size: 5rem;
  color: #fff; /* White text for contrast */
  margin-bottom: 1rem;
}

.project-content p {
  font-size: 2rem;
  color: #aaaaaa; /* Light grey for paragraph text */
  margin-bottom: 2rem;
}